@media (prefers-reduced-motion: no-preference){
    .header-content{
        overflow-y: clip;
    }
    .header-content > *{
        animation-name: fadeUp;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 2000ms;
        animation-fill-mode: forwards;
        transform: translateY(75vh);
    }
    @keyframes fadeUp{
        from{
            opacity: 0.5;
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    figure{
        overflow: hidden !important;
    }
    img{
        transition-property: transform;
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
        transition-delay: 200ms;
    }
    img:is(:hover, :active, :focus){
        transform: scale(1.1);
    }
}